<div id="searchContainer">
    <input type='string' placeholder="Search..." [(ngModel)]="query" (ngModelChange)="getResults()" id="inputBar" />
    <span>
        <button [disabled]="!query" (click)="getResults()" id="searchButton">Go</button>
    </span>

    <mat-form-field id='filterField'>
        <mat-label>Filter</mat-label>
        <mat-select [(value)]="filterSelected" (selectionChange)='getResults()' class="mat-select-content">
            <mat-option value="allTrack">All</mat-option>
            <mat-option value="movie">Movie</mat-option>
            <mat-option value="podcast">Podcast</mat-option>
            <mat-option value="tvSeason">Tv Show</mat-option>
            <mat-option value="software">Software</mat-option>
            <mat-option value="ebook">eBook</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="resultsList?.length > 0">
    <ul class="results">
        <li *ngFor="let result of resultsList" (click)="selectSong(result)" routerLink="/search">
            <app-result [song]="result"></app-result>
        </li>
    </ul>
</div>
<div>
    <ul>
        <li *ngIf='resultsList?.length == 0' class="noResultMsg">
            {{noResultMsg}}{{query}}
        </li>
    </ul>
</div>